@font-face {
  font-family: samarkan;
  src: url(/sites/default/files/website-page-assets/samarkan.ttf);
}
/*variables*/
body {
  background-color: #fcf9fb;
  color: #333333;
  font-family: "Avenir Next", Avenir, Lato, sans-serif;
  font-size: 100%;
}
.fundraising-main .navbar-fixed-top {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #d9ced3;
  margin-bottom: 0;
  padding: 1em 0;
}
.fundraising-main .navbar-fixed-top .link {
  color: #333333;
  font-size: 1.6em;
  margin-top: 5px;
}
.fundraising-main .btn-primary {
  background-color: #0e76bc;
}
.fundraising-main .section {
  padding-bottom: 8em;
}
.fundraising-main .bg-img {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 0;
}
.fundraising-main .bg-img.temple-banner {
  background-image: url(/sites/default/files/website-page-assets/temple-inside-render.jpg);
  background-position: center center;
  position: relative;
  text-align: center;
}
.fundraising-main .bg-img.temple-banner .text-content {
  margin-top: 4em;
}
.fundraising-main .bg-img.new-temple {
  background-image: url(/sites/default/files/website-page-assets/bg-new-temple.jpg);
  padding-bottom: 45em;
}
.fundraising-main h1 {
  color: white;
  font-family: samarkan;
  font-size: 8.5em;
  margin-bottom: 10px;
  margin-top: 0;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}
.fundraising-main h2 {
  color: white;
  font-size: 3em;
  margin-top: 0.6666666667em;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}
@media (max-width: 767px) {
  .fundraising-main h2 {
    font-size: 18px;
  }
}
.fundraising-main h3 {
  font-size: 4.8em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-top: 1.55em;
}
.fundraising-main p.description {
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: 2.5em;
  text-align: left;
}
.fundraising-main p.description .read-more {
  font-size: 0.75em;
}
.fundraising-main p.description + p.description,
.fundraising-main p.description + p.link-icon {
  margin-top: -1em;
}
.fundraising-main blockquote {
  margin-bottom: 0;
}
.fundraising-main blockquote p {
  position: relative;
  text-align: left;
}
.fundraising-main p + iframe {
  margin-top: 1em;
}
.fundraising-main .gurujis-vision {
  padding-bottom: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.fundraising-main .gurujis-vision .embed-responsive {
  margin-bottom: 4em;
}
.fundraising-main .gurujis-vision .img-gallery-thumbs {
  margin-top: 3.5em;
  position: relative;
}
.fundraising-main .gurujis-vision .img-gallery-thumbs .gallery-fade {
  background: url(/sites/default/files/website-page-assets/thumbs-fade.png) repeat-x left -40px;
  background-size: auto 118px;
  height: 118px;
  position: absolute;
  width: 100%;
}
.fundraising-main .gurujis-vision .img-gallery-thumbs .thumb {
  float: left;
  width: calc(100% / 7);
}
.fundraising-main .gurujis-vision .img-gallery-thumbs .thumb a {
  display: block;
}
.fundraising-main .gurujis-vision .img-gallery-thumbs .thumb img {
  height: auto;
  width: 100%;
}
.fundraising-main .progress-container {
  margin-top: 2em;
}
.fundraising-main .progress-container p {
  color: #888888;
  font-size: 2.4em;
}
.fundraising-main .progress-container p .raised {
  color: #b42f70;
  font-size: 2em;
}
.fundraising-main .progress-container .progress {
  background-color: #d3d5d9;
  border-radius: 10px;
  box-shadow: none;
}
.fundraising-main .progress-container .progress-bar {
  background-color: #b42f70;
  border-radius: 10px;
}
.fundraising-main .progress-container p + .btn {
  margin-top: 0.75em;
}
.fundraising-main .donators {
  color: #888888;
  font-size: 1.4em;
  line-height: 1.5;
  margin-top: 4.3em;
}
.fundraising-main .last-update {
  color: #333333;
  font-size: 1.4em;
  margin-top: 1.6666666667em;
}
.fundraising-main .btn-lg {
  font-size: 3.6em;
  padding: 18px;
  min-width: 450px;
}
.fundraising-main .bm-timeline {
  padding-bottom: 0;
}
.fundraising-main .bm-timeline .panel-group {
  margin-top: 3em;
}
@media (min-width: 768px) {
  .fundraising-main .bm-timeline .row {
    display: flex;
  }
}
@media (min-width: 768px) {
  .fundraising-main .bm-timeline .col-lg-4:first-child {
    border-right: 1px solid #d3d5d9;
  }
}
.fundraising-main .bm-timeline h4 {
  font-size: 2.4em;
  text-align: right;
  margin-bottom: 0.75em;
  padding-right: 0.4166666667em;
  padding-top: 0.8333333333em;
}
.fundraising-main .bm-timeline h4::before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: rgba(164, 59, 128, 0.5);
  position: absolute;
  right: -16px;
  top: 15px;
}
.fundraising-main .bm-timeline .bm-img-container {
  margin-bottom: 2em;
  text-align: left;
  padding-left: 1em;
}
.fundraising-main p.bm-timeline__description {
  font-size: 1.8em;
  line-height: 1.5;
  margin-bottom: 0.75em;
  text-align: justify;
  padding-right: 0.5555555556em;
}
.fundraising-main .img-blockquote {
  background-image: url(/sites/default/files/website-page-assets/deity-names-side.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}
.fundraising-main .donate {
  background-color: #f0f2f8;
}
.fundraising-main .donate .progress-container {
  margin-top: 6em;
}
.fundraising-main .donate .donation-steps-info {
  color: #888888;
  font-size: 1.4em;
  margin-top: 1.6666666667em;
}
.fundraising-main ul.deities {
  margin-bottom: 3em;
}
.fundraising-main ul.deities li {
  float: left;
  margin-bottom: 2em;
  width: calc(100% / 6);
}
.fundraising-main ul.deities li.main {
  float: none;
  margin-bottom: 4em;
  width: 100%;
}
.fundraising-main ul.deities li img {
  border-radius: 50%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}
.fundraising-main ul.deities li p {
  font-size: 1.6em;
  font-style: italic;
  margin-top: 0.625em;
}
.fundraising-main .thank-you {
  background-color: #f8eff4;
}
.fundraising-main .link-icon {
  font-size: 1.8em;
}
.fundraising-main .link-icon + .link-icon {
  margin-top: 1.6666666667em;
}
/* Modal */
.modal-header h4 {
  margin-top: 15px;
}
.modal-body {
  font-size: 1.6em;
  line-height: 1.5;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}
.modal-body p {
  margin-bottom: 20px;
}
/*Responsive Styles*/
@media (min-width: 1200px) {
  /* 1200px */
  .fundraising-main .bg-img.temple-banner {
    min-height: 618px;
  }
  .fundraising-main .bg-img.temple-banner .container {
    left: calc(50% - 585px);
    margin-top: 7em;
    position: absolute;
    z-index: 0;
  }
  .fundraising-main .bg-img.temple-banner img {
    width: 100%;
  }
}
@media (min-width: 1600px) {
  .fundraising-main .bg-img.temple-banner {
    min-height: 700px;
  }
}
@media (max-width: 1199px) {
  /* 1199px */
  .fundraising-main .bg-img.temple-banner {
    background-size: 1200px auto;
    height: 618px;
  }
  .fundraising-main .bg-img.temple-banner .text-content {
    font-size: 0.88em;
    margin-top: 10em;
  }
  .fundraising-main .bg-img.temple-banner img {
    display: none;
  }
  .fundraising-main .bg-img.new-temple {
    background-size: 1200px auto;
    padding-bottom: 40em;
  }
}
@media (max-width: 991px) {
  /* 991px */
  .fundraising-main .bg-img.temple-banner {
    background-size: 992px auto;
    height: 482px;
  }
  .fundraising-main .bg-img.temple-banner .text-content {
    font-size: 0.72em;
    margin-top: 10em;
  }
  .fundraising-main .bg-img.new-temple {
    background-size: 992px auto;
    padding-bottom: 32em;
  }
  .fundraising-main .have-your-name .img-blockquote {
    background-image: url(/sites/default/files/website-page-assets/deity-names.jpg);
    background-size: 992px auto;
    padding-bottom: 50em;
    background-position: center bottom;
  }
  .fundraising-main .have-your-name .img-blockquote blockquote {
    padding-left: 15px;
    padding-right: 15px;
  }
  .fundraising-main ul.deities li {
    width: calc(100% / 3);
  }
}
@media (max-width: 767px) {
  /* 767px */
  .fundraising-main .section.new-temple,
  .fundraising-main .section.gurujis-vision,
  .fundraising-main .section.bm-timeline,
  .fundraising-main .section.have-your-name,
  .fundraising-main .section.donate,
  .fundraising-main .section.sponsor,
  .fundraising-main .section.thank-you {
    font-size: 0.8em;
  }
  .fundraising-main .bg-img.temple-banner {
    background-size: 769px auto;
    height: 396px;
  }
  .fundraising-main .bg-img.temple-banner .text-content {
    font-size: 0.58em;
    margin-top: 6em;
  }
  .fundraising-main .bg-img.new-temple {
    background-size: 768px auto;
  }
  .fundraising-main .bm-timeline .row {
    margin-left: 5px;
    margin-right: 5px;
  }
  .fundraising-main .bm-timeline .col-lg-4 {
    border-left: 1px solid #d3d5d9;
  }
  .fundraising-main .bm-timeline h4 {
    text-align: center;
  }
  .fundraising-main .bm-timeline h4::before {
    left: -12px;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    top: 13px;
  }
  .fundraising-main .bm-timeline .bm-img-container {
    text-align: center;
  }
  .fundraising-main .bm-timeline .bm-img-container img {
    width: 100%;
    height: auto;
  }
  .fundraising-main p.bm-timeline__description {
    text-align: center;
    padding: 0 10px;
  }
  .fundraising-main p.bm-timeline__description:last-child {
    padding-bottom: 5px;
  }
  .fundraising-main .have-your-name .img-blockquote {
    background-size: 768px auto;
    padding-bottom: 47em;
    background-position: center bottom;
  }
}
@media (max-width: 479px) {
  .fundraising-main .navbar-fixed-top .link {
    display: none;
  }
  .fundraising-main .bg-img.temple-banner .text-content {
    font-size: 0.45em;
    margin-top: 11em;
  }
  .fundraising-main .bg-img.temple-banner .text-content h1 {
    font-size: 7.6em;
  }
  .fundraising-main .bg-img.new-temple {
    background-size: 600px auto;
    padding-bottom: 25em;
  }
  .fundraising-main h3 {
    font-size: 4em;
    margin-top: 1.2em;
  }
  .fundraising-main blockquote p {
    font-size: 2.6em;
  }
  .fundraising-main blockquote span {
    font-size: 1.9em;
  }
  .fundraising-main .gurujis-vision .img-gallery-thumbs .gallery-fade {
    background-size: auto 90px;
    background-position: left -30px;
  }
  .fundraising-main .gurujis-vision .img-gallery-thumbs .thumb {
    width: calc(100% / 4);
  }
  .fundraising-main .gurujis-vision .img-gallery-thumbs .thumb:nth-child(2),
  .fundraising-main .gurujis-vision .img-gallery-thumbs .thumb:nth-child(7),
  .fundraising-main .gurujis-vision .img-gallery-thumbs .thumb:nth-child(8) {
    display: none;
  }
  .fundraising-main .have-your-name .img-blockquote {
    background-size: 480px auto;
    padding-bottom: 30em;
  }
  .fundraising-main ul.deities li {
    width: calc(100% / 2);
  }
  .fundraising-main .btn-lg {
    font-size: 3em;
    min-width: 0;
    width: 100%;
  }
}
